version: 2
jobs:
  build:
    docker:
      - image: microsoft/aspnetcore-build:2.1
    parallelism: 4
    steps:
      - checkout
      - run: find .
      - run: dotnet restore
      - run: dotnet build
      - run: dotnet test